---
layout: base.njk
title: Portfolio
year: 2026
---

<section class="space-y-4">
  <h1 class="text-4xl font-bold">Hi, I'm Alexander.</h1>
  <p class="text-xl text-gray-600">Welcome to my portfolio.</p>
</section>
